<div class="p-5">
    <div class="text-lg font-bold mb-4">Dane o subskrypcjach dla usługi streamingowej NETFLIX dla kraju
        {{selectedCountryName}}</div>
    <div *ngIf="isCountryData" class="flex-col gap-3 ml-3 text-sm">



        <div> <span class="font-bold">Ilość seriali:</span> {{countryFeeSubscription!.numberOfTVShows}}</div>



        <div><span class="font-bold"> Ilość filmów:</span> {{countryFeeSubscription!.numberOfMovies}}</div>

        <div> <span class="font-bold">Ilość filmów i seriali:</span> {{countryFeeSubscription!.totalLibrarySize}}</div>

        <div> <span class="font-bold">Koszt pakietu podstawowego:</span> {{countryFeeSubscription!.costPerMonthBasic}}$
        </div>


        <div><span class="font-bold">Koszt pakietu standardowego:</span>
            {{countryFeeSubscription!.costPerMonthDtandard}}$</div>


        <div><span class="font-bold">Koszt pakietu premium:</span> {{countryFeeSubscription!.costPerMonthPremium}}$
        </div>
    </div>


    <div *ngIf="!isCountryData">
        <div class="font-bold">Brak danych o subskrypcjach</div>
    </div>
</div>